
The game of "life" was developed by John Horton Conway, a British
mathematician  at  the  University  of  Cambridge; Life was first
described in the  October  1970  Scientific  American  by  Martin
Gardner  in  his  "Mathematical Games" column.  The December 1978
issue of "BYTE" has several articles on "life".

The rules are as follows:

  SURVIVAL: Each cell presently alive which  has  either  TWO  or
            THREE  of its eight neighboring cells alive will live
            in the next generation

     BIRTH: If an empty  cell  is  surrounded  by  exactly  THREE
            neighbors,  the  cell will be "born" in the next gen-
            eration.

     DEATH: If a cell has fewer than TWO  neighbors  it  dies  of
            loneliness.   If a cell has more than THREE neighbors
            it dies from overcrowding.

Most "life" programs allow the user to specify which cells are to
be  "alive"  for  the  initial  generation, then simply apply the
three rules above to establish the next generation.  The user can
simply watch the various patterns evolve.

